<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarioME.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarioME.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MarioME.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
        </MarioME.Settings>
    </applicationSettings>
    <userSettings>
        <MarioME.Settings>
            <setting name="Level_1_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Level_1_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Level_1_3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Level_1_4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Level_1_5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Level_1_6" serializeAs="String">
                <value>0</value>
            </setting>
        </MarioME.Settings>
    </userSettings>
</configuration>